@charset "utf-8";

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px; /* 1rem = 14px */
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  margin: 0;
}

#show-scene-1 .nav,
#show-scene-3 .nav {
  transition-duration: 0.5s;
  position: fixed;
  top: 0;
  background-color: #1a508b;
  opacity: 0.8;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}
#show-scene-2 .nav {
  transition-duration: 0.5s;
  position: fixed;
  top: 0;
  background-color: #fff3e6;
  opacity: 0.8;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

#show-scene-2 a {
  color: black;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Do Hyeon", sans-serif;
}

.container {
  position: relative;
  overflow-x: hidden;
}

.nav-links .myname {
  font-size: 1.4rem;
  margin-right: auto;
  font-weight: bold;
}

.nav-links a:not(.myname) {
  margin-left: 2em;
}

.nav {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  padding: 0 1rem;
}

.nav.active {
  background-color: #1b262c;
  opacity: 0.8;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14rem;
  color: white;
  background: darkorange;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#introduction {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#introduction h1 {
  margin-top: -5rem;
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: "Chosunilbo_myungjo";
}

#introduction p {
  font-size: 1.5rem;
  font-family: "Do Hyeon", sans-serif;
}

section p {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.cover_inner {
  display: block;
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.sticky-elem {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  min-width: 300px;
  left: 70vw;
  top: 50rem;
}

.fa-arrow-down {
  z-index: 10;
  cursor: pointer;
  color: white;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

section:not(#introduction) {
  display: flex;
}

#hobby {
  margin-top: 100vh;
  background: #fff3e6;
}

#pros-cons {
  background: #1a508b;
}

#pros-cons h1,
#pros-cons h2,
#pros-cons li {
  color: white;
}

#pros-cons p {
  font-size: 1.25rem;
  color: white;
  display: inline-block;
}

#mbti {
  background: #fff3e6;
}

#hobby h1 {
  font-size: 3rem;
  transform: translate3d(-50%, -50%, 0);
  left: 50vw;
  top: 10vh;
}

.hobby-box {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 20px;
  width: 640px;
  height: 551px;
  row-gap: 20px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  opacity: 0;
}

.card {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.sticky {
  position: fixed;
}

.card h2 {
  display: inline;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.card-body img {
  height: 100%;
  border-radius: 10px;
}

.proj-container {
  position: fixed;
  transform: translate3d(-50%, -50%, 0);
  width: 700px;
  height: 80vh;
  top: 55vh;
  left: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.pin {
  opacity: 0;
  position: absolute;
  top: 2rem;
  height: 1px;
  width: 150px;
}

.left .pin {
  background-color: black;
  left: 48%;
}

.right .pin {
  background: white;
  right: 48%;
}

.container-row {
  position: relative;
  display: flex;
  align-items: center;
}

.container-row.right p {
  opacity: 0;
  margin-right: 1rem;
  margin-bottom: 10rem;
  margin-left: auto;
  font-weight: bold;
}

.container-row.left p {
  opacity: 0;
  margin-left: 1rem;
  margin-bottom: 10rem;
  margin-right: auto;
  font-weight: bold;
}

.img {
  opacity: 0;
  display: inline-block;
  height: 100%;
}

img {
  height: 100px;
  width: 350px;
}

.message {
  color: #576071;
  display: flex;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
}

.messageA {
  opacity: 0;
  font-size: 3rem;
}

.messageB {
  opacity: 0;
  margin: 3rem 0;
  font-size: 3rem;
}

.messageC {
  opacity: 0;
  color: darkorange;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.messageD {
  opacity: 0;
  line-height: 2;
  font-size: 1.5rem;
}

@media (min-width: 1033px) {
  .sticky-elem {
    width: 600px;
  }
}

/* μ¤λ§νΈν° */
@media (max-width: 510px) {
  .myname {
    display: none;
  }

  .sticky-elem {
    left: 50vw;
    top: 30rem;
  }
}

@media (max-width: 670px) {
  .hobby-box {
    width: 400px;
    height: 500px;
  }
}
