@charset "utf-8";

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px; /* 1rem = 14px */
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: #2d4059;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  overflow-x: hidden;
}

.nav-links .myname {
  font-size: 1.4rem;
  margin-right: auto;
  font-weight: bold;
}

.nav-links a:not(.myname) {
  margin-left: 2em;
}

.nav {
  z-index: 10;
  background-color: #1b262c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  padding: 0 1rem;
  /* background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px); */
}

.nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14rem;
  color: white;
  background: darkorange;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  height: 1000px;
}

#introduction h1 {
  margin-top: -5rem;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

#introduction img {
  position: relative;
  display: inline-block;
  width: 350px;
  height: auto;
  border-radius: 10%;
}

section p {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.id-card {
  transform: translate3d(-50%, -50%, 0);
  position: relative;
  width: 731px;
  margin-left: 50%;
  margin-top: 25rem;
}

.stats {
  vertical-align: top;
  padding-top: 1rem;
  padding-left: 5rem;
  display: inline-block;
  width: 370px;
  height: 350px;
}

.stats p {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: bold;
}

#my-chart.column {
  height: 250px;
  max-width: 300px;
  margin-left: 0;
  margin-top: 4rem;
}

#my-chart th {
  color: white;
}

@media (max-width: 1024px) {
  .stats {
    display: none;
  }

  #introduction img {
    border-radius: 100%;
  }

  .id-card {
    max-width: 351px;
  }
}

@media (max-width: 510px) {
  .myname {
    display: none;
  }
}
